section{
    display: flex;
}
p{
    font-size: 25px;
}
h1{
    font-size: 70px;
}
.first-part{
    width: 50%;
    padding: 20px;
    margin-left: 30px;
    margin-bottom: 60px;
}
.first-part img{
    width: 500px;
}
.order-food{
    text-decoration: none;
    color: blue;
    background-image: linear-gradient(orange, tomato  );
    border-radius: 20px;
    border: 2px;
    padding: 10px 40px;
    font-weight: 700;
}
.first-background{
    background-image: url(image/Frame\ 57.jpg);
    background-repeat: no-repeat;
    background-size: 100%;

}
.secend-backround{
    background-image: url(image/Frame\ 58.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
.skip-color{
    color: orangered;
}
.secand-part{
    width: 50%;

}
.secand-part img{
    width: 350px;
    margin-left: 70px;
    margin-top: 30px;
}
.contact-me{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    border: 2px;
    padding: 10px 40px;
    border-radius: 20px;

}
.thred-part{
    text-align: center;
    margin-top: 50px;

}
.forth-part{
    width: 50%;
    border: 5px;
    border-radius: 40px;
    padding: 15px;
    margin-left:40px;
    margin-right:40px;
    margin-top: 50px;
    box-shadow: 10px 10px 30px gray;
    margin-bottom: 70px;
}
.forth-part img{
    width:550px;
    
}
.font-forth-part{
    margin-left: 50px;
}
.fifth-box{
    box-shadow: 10px 10px 30px gray;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 40px;
    margin-bottom: 40px;
    padding: 5px;
}
.fifth-part{
    width: 30%;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
}
.six-part{
    text-align: center;
    background-color: black;
    padding-top: 20px;
    padding-bottom: 90px;
}
.six-part-font{
    color: orangered;
    font-weight: 500;
}
.font-six{
    color: rgb(71, 67, 67);
    font-weight: 500;
    
}
.six-p{
    color: rgb(63, 61, 61);
    font-size: 18px;
}